<div class="row momm-front-page">
	<div class="col-xs-offset-1 col-xs-10">
		<div class="col-xs-10 col-sm-4">
			<button class="btn btn-default col-xs-12">
				<div class="text-center">
					<h3>Step 1 - Beating your Debt</h3>
					<div class="large-glyphicon">
						<span class="glyphicon glyphicon-credit-card"></span>
					</div>
					<p class="lead">Start working out how to get your debt to zero here</p>
				</div>
			</button>
		</div>
		<div class="col-xs-10 col-sm-4">
			<button class="btn btn-default col-xs-12">
				<div class="text-center">
					<h3>Step 2 - Your First Home Loan</h3>
					<div class="large-glyphicon">
						<span class="glyphicon glyphicon-home"></span>
					</div>
					<p class="lead">Tools and information to help you take control of your first home loan</p>
				</div>
			</button>
		</div>
		<div class="col-xs-10 col-sm-4">
			<button class="btn btn-default col-xs-12">
				<div class="text-center">
					<h3>Step 3 - Growing your Money</h3>
					<div class="large-glyphicon">
						<span class="glyphicon glyphicon-tree-deciduous"></span>
					</div>
					<p class="lead">Use the power of compound interest to save for the future</p>
				</div>
			</button>
		</div>
	</div>
</div>
